<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAD Search</title>
    <link rel="icon" href="{{ url_for('static', filename='3.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body>
    <h2 style ="text-align:center; margin:50px auto;">
        <img alt="Avatar" src="{{ url_for('static', filename='images/3.png') }}">
        <a style="color:#aaa;font-size:44px">Movie List</a>
    </h2>
    <h3>Edit Item </h3>
    <form method="post">
        Id <input type="text" name="id" autocomplete="off" required value="{{ movie[0][0] }}">
        Name <input type="text" name="title" autocomplete="off" required value="{{ movie[0][1] }}">
        Release Date <input type="text" name="release_date" autocomplete="off" required value="{{ movie[0][2] }}">
        Country <input type="text" name="country" autocomplete="off" required value="{{ movie[0][3] }}">
        Type <input type="text" name="type" autocomplete="off" required value="{{ movie[0][4] }}">
        Year <input type="text" name="year" autocomplete="off" required value="{{ movie[0][5] }}">
        Box <input type="text" name="box" autocomplete="off" required value="{{ movie[0][7] }}">
        <input class="btn" type="submit" name="submit" value="Update">
    </form>
    <footer>
        <small>&copy; 2023 Baihk</small>
  </footer>
</body>
</html>