<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAD Search</title>
    <link rel="icon" href="{{ url_for('static', filename='3.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    <a style="font-size:200px"></a><br>
    <h2 style ="color:#aaa;text-align:center; margin:50px auto;">
        <img alt="Avatar" src="{{ url_for('static', filename='images/3.png') }}">
        <a style="font-size:44px">MAD Search</a><br>
        <a style="font-family: 'Times New Roman', serif;font-size:20px">Search for Movie, Actor and Director</a>
    </h2>
  <div class="container">
      <h1 style ="text-align:left;font-size:16px;text-align:center">
          <a href="/">查询电影</a>
      </h1>
      <form class="input-row" method="POST">

        <input type="text" id="searchInput" class="input-field" name = 'searchInput' required>
        <button id="searchMovieBtn" class="button">查询演员</button>
    </form>
    <div class="admin-link">
      <a href="/admin_actors">admin actors</a>
    </div>
  </div>
  <footer>
        <small>&copy; 2023 Baihk</small>
  </footer>
</body>
</html>